<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Completed/Assigned</p>
                      <h3 class="card-title">49/50
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-warning">info</i>
                          <a href="javascript:void(0)">Create task...</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Tasks per day</h4>
                      <p class="card-category">
                      </p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Notifications Sent</h4>
                      <p class="card-category">Two way notifications sent</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i>last notification sent 2 hours ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Completed Tasks</h4>
                      <p class="card-category">Completed Tasks Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Last tasks completed</h4>
                      <p class="card-category">Task by student compleion</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>Student</th>
                              <th>taskId</th>
                              <th>Group</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Eugeniu</td>
                                  <td>12</td>
                                  <td>CRI-201M</td>
                              </tr>
                              <tr>
                                  <td>Ion</td>
                                  <td>12</td>
                                  <td>CRI-201M</td>
                              </tr>
                              <tr>
                                  <td>Marin</td>
                                  <td>1</td>
                                  <td>CRI-191M</td>
                              </tr>
                              <tr>
                                  <td>Denis</td>
                                  <td>2</td>
                                  <td>CRI-191M</td>
                              </tr>
                              <tr>
                                  <td>Diana</td>
                                  <td>1</td>
                                  <td>CRI-192M</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
