<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">The list of Professors</h4>
                      <p class="card-category"> You are able to see list of professors & delete them if need</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Email
                                  </th>
                                  <th>
                                      Group
                                  </th>
                                  <th>
                                      Assigned tasks
                                  </th>
                                  <th>
                                      Actions
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let student of students">
                                      <td>
                                          {{ student.id }}
                                      </td>
                                      <td>
                                          {{ student.name }}
                                      </td>
                                      <td>
                                          {{ student.email }}
                                      </td>
                                      <td>
                                          {{ student.group?.name || '' }}
                                      </td>
                                      <td>
                                          {{ student.assignedTasks?.length }}
                                      </td>
                                      <td class="text-primary">
                                          <button mat-icon-button (click)="deleteStudent(student.id)" [color]="'warn'">
                                              <mat-icon>delete</mat-icon>
                                          </button>
                                      </td>
                                  </tr>

                                <tr *ngIf="!students.length">
                                    <td colspan="5" class="text-center">
                                        <h1>No students to display</h1>
                                    </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
