<div class="logo">
    <a class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/sql-logo.png" alt="logo">
        </div>
        SQL platform
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item dropdown" *ngIf="!isAdmin">
                <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">notifications</i>
                    <p>
                        <span class="d-lg-none d-md-block">
                            <span class="notification" *ngIf="unreadNotifications as nr">{{nr}}</span>
                            Unread Notifications
                        </span>
                    </p>

                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item notification-item" href="javascript:void(0)" (click)="read(notification)" *ngFor="let notification of notifications | slice: 0: 5">
                        {{notification.name}}
                        <div class="read-notification" *ngIf="!notification.read"></div>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block">Account</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
