<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">The list of Tasks</h4>
                      <p class="card-category"> You are able to see list of tasks & complete them</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Is public
                                  </th>
                                  <th>
                                      Assigned to?
                                  </th>
                                  <th>
                                      Actions
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let task of tasks">
                                      <td>
                                          {{ task.id }}
                                      </td>
                                      <td>
                                          {{ task.public ? 'Public' : 'Private' }}
                                      </td>
                                      <td>
                                          {{ task.groups?.length ? 'Groups' : (task?.assignedTo?.length ? 'Students' : 'none') }}
                                      </td>
                                      <td class="text-primary">
                                          <button mat-icon-button [routerLink]="['/', 'student', 'task', task.id]" [color]="'primary'" [disabled]="task.completed">
                                              <mat-icon>fact_check</mat-icon>
                                          </button>
                                      </td>
                                  </tr>

                                <tr *ngIf="!tasks.length">
                                    <td colspan="5" class="text-center">
                                        <h1>No tasks yet</h1>
                                    </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
